body {
  background: url(/img/bg.png); }

input, textarea, button, .btn {
  margin-bottom: 10px; }

.centered {
  width: 20%;
  height: 20%;
  margin-left: 40%; }
  .centered > button {
    width: 100%;
    margin-bottom: 10px; }

.vertical-centered {
  margin-top: 20%;
}

.nav-pills>li>a, .nav-pills>li>a:hover, .nav-pills>li>a:focus {
  color: #fff;
  background-color: #428bca;
  border-radius: 0px;
}